<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
For any queries contact: atish93maske@gmail.com
To get this sample User Forum you can clone this <a href="http://www.railstutorial.org/book" ><em>repository</em></a> at Github.
</p>
