<%stylesheet_link_tag "parking_show.css"%>
<h1>Parkings#show</h1>
  <%i=1%>
  <% @parkinglots.each do |lot| %>

       <%if (lot.availaible)%>

        <%= link_to "#{lot.slot_id+1}", book_now_path(lot.id) , :class => "btn btn-primary",:data => {:confirm => 'Are you sure?You will be billed from now'} %>
       <%else%>
        <%= link_to "#{lot.slot_id+1}",book_now_path(lot.id) ,:class => "btn btn-primary disabled", :method => :get  %>
       <%end%>
       <%i=i+1%>
  <%end%>

  <tbody>
  <table align="center" >

  <tr>
    <td><button type="button" class="btn btn-success">1</button></td>
    <td><button type="button" class="btn btn-success">2</button></td>
    <td><button type="button" class="btn btn-success">3</button></td>
    <td><button type="button" class="btn btn-success">4</button></td>
    <td><button type="button" class="btn btn-success">5</button><!--<img src="C:\Users\admin\Desktop\ADI\images\s1.png">--></td>
    <td><button type="button" class="btn btn-success">6</button></td>


  </tr>
  <tr >
    <td style="background-color:crimson; border:none;width:1000px;" >EXIT | HERE</td>
    <td style="background-color:lightgrey; border:none;"></td>
    <td style="background-color:lightgrey; border:none;"></td>
    <td style="background-color:lightgrey; border:none;"></td>
    <td style="background-color:lightgrey; border:none;"></td>
    <td><button type="button" class="btn btn-success">7</button></td>



  </tr>
  <!-- <tr>
    <td style="background-color:grey; border:none;">- - -</td>
    <td style="background-color:grey; border:none;">- - -</td>
    <td style="background-color:grey; border:none;">-|-</td>
    <td style="background-color:grey; border:none;">-|-</td>
    <td><button type="button" class="btn btn-success">9</button></td>
    <td style="background-color:grey; border:none;">-|-</td>


  </tr> -->
  <tr>
    <td><button type="button" class="btn btn-success"><img src="C:\Users\admin\Desktop\ADI\images\reserved_901.png"></button></td>
    <td><button type="button" class="btn btn-success">9</button></td>
    <td><button type="button" class="btn btn-success">8</button></td>
    <td><img src="C:\Users\admin\Desktop\ADI\images\s1.png"><!--<button type="button" class="btn btn-success">12</button>--></td>
    <td style="background-color:lightgrey; border:none;"></td>
    <td><button type="button" class="btn btn-success"><img src="C:\Users\admin\Desktop\ADI\images\reserved_901.png"></button></td>

  </tr>
  <tr>
    <td><button type="button" class="btn btn-success"><img src="C:\Users\admin\Desktop\ADI\images\reserved_901.png"></button></td>
    <td><button type="button" class="btn btn-success">10</button></td>
    <td><button type="button" class="btn btn-success">11</button></td>
    <td><button type="button" class="btn btn-success">12</button></td>
    <td style="background-color:crimson; border:none;">ENTER | HERE</td>
    <td><button type="button" class="btn btn-success"><img src="C:\Users\admin\Desktop\ADI\images\reserved_901.png"></button></td>
    <!-- <td style="background-color:red;text-align:right; border:none;">|EN</td>
    <td style="background-color:red;text-align:left; border:none;">TER|</td> -->

  </tr>

  </table>
  </tbody>
