<h1>Parkings#show</h1>
  <%i=1%>
  <% @parkinglots.each do |lot| %>

       <%if (lot.availaible)%>

        <%= link_to "#{i}", book_now_path(lot.id) , :class => "btn btn-primary",:data => {:confirm => 'Are you sure?You will be billed from now'} %>
       <%else%>
        <%= link_to "#{i}",book_now_path(lot.id) ,:class => "btn btn-primary disabled", :method => :get  %>
       <%end%>
       <%i=i+1%>
  <%end%>
