<% provide(:title, 'All transactions') %>

<h1>Your recent transactioms</h1>
<%= link_to current_user.name, current_user %>
<%require 'active_support/core_ext'%>



  <table class="table" width="100%">
    <thead>
      <tr>
      <th>T.Id</th>
      <th>Date</th>
      <th>In (time)</th>
      <th>Out(time)</th>
      <th>Payment</th>
      <th>Payment type</th>
      <th>Parking Name </th>
      </tr>
    </thead>
    <tbody>
      <tr>
      <%= render @transactions %>
      </tr>
    </tbody>
  </table>
